<settings>
	<servers>
	  <server>
		<id>maven.oracle.com </id>
		<username>thomas.kint@epsi.fr</username>
		<password>{rKPGIcYGyG8HbM7V08+6u8DwB+V7NpStqghwDx9g+qE=}</password>
		  <configuration>
			<basicAuthScope>
			  <host>ANY </host>
			  <port>ANY </port>
			  <realm>OAM 11g </realm>
			</basicAuthScope>
			<httpConfiguration>
			  <all>
			  <params>
				<property>
				  <name>http.protocol.allow-circular-redirects </name>
				  <value>%b,true </value>
				</property>
			  </params>
			  </all>
			</httpConfiguration>
		  </configuration>
	  </server>
  </servers>
</settings>